
*.log

*.aux

*.nav

*.out

*.snm

Lecture1/Slides.synctex.gz

*.toc

Lecture1/Slides.pdf

Lecture1/Slides.html

Lecture1/Slides.html

Lecture1/Slides.pdf

Lecture1/Slides.md

Lecture1/Slides.md

Lecture1/Figs/

Lecture1/.Rhistory

Lecture1/Day1-Bootstrap-Example.html
