
*.log

*.aux

*.nav

*.out

*.snm

Lecture1/Slides.synctex.gz

*.toc

Lecture1/Slides.pdf

Lecture1/Slides.pdf

Lecture1/Slides.md

Lecture1/Slides.md

Lecture1/Figs/

Lecture1/.Rhistory

Lecture2/Slides.pdf

Lecture2/Slides.synctex.gz

Lecture3/Slides.synctex.gz

Lecture3/Slides.pdf

Lecture4/Slides.synctex.gz

Lecture4/Slides.pdf

Lecture2/Slides-mpgraph.mp

Lecture2/Slides.top

Lecture2/Slides.tui

Lecture2/.Rhistory

Lecture2/enumData.Rdata

*.gz

Lecture5/Slides.pdf

Lecture6/Slides.pdf

Lecture3/ABIDE_LEGEND_V1.02.pdf

Lecture3/brainMatrix.Rdata

Lecture3/CC200_ROI_labels.csv

Lecture3/Phenotypic_V1_0b_preprocessed1.csv

Lecture7/Slides.pdf

Lecture3/log-permutations.txt

Lecture3/.Rhistory

LectureR/R.pdf

LectureR/RBasics.pdf

Lecture1/LogisticsIntroduction.pdf

Lecture3/maxCluster.seed1234.Rdata

maxCluster.seed1234.Rdata

Lecture2/SimulationsEnumerations.pdf

SimulationsEnumerations/.Rhistory

SimulationsEnumerations/enumData.Rdata

TwoSampleProblems/.Rhistory

TwoSampleProblems/brainMatrix.Rdata

TwoSampleProblems/ABIDE_LEGEND_V1.02.pdf

TwoSampleProblems/CC200_ROI_labels.csv

TwoSampleProblems/log-permutations.txt

TwoSampleProblems/Phenotypic_V1_0b_preprocessed1.csv

PermutationTests/.Rhistory

PermutationTests/ABIDE_LEGEND_V1.02.pdf

PermutationTests/CC200_ROI_labels.csv

PermutationTests/brainMatrix.Rdata

PermutationTests/log-permutations.txt

PermutationTests/Phenotypic_V1_0b_preprocessed1.csv

Lecture2/BasicStatistics.pdf

Lecture4/enumData.Rdata

Lecture5/enumData.Rdata

Lecture11/ABIDE_LEGEND_V1.02.pdf

Lecture11/brainMatrix.Rdata

Lecture11/CC200_ROI_labels.csv

Lecture11/log-permutations.txt

Lecture11/Phenotypic_V1_0b_preprocessed1.csv

Lecture13/NonlinearRegression.pdf

Lecture14/NonlinearRegression.pdf

Lecture14/NonlinearRegressionPart2.pdf

Lecture15/NonlinearRegressionPart3.pdf

Lecture16/DensityEstimation.pdf

Homework3/words.RData

Homework3/wordcounts.RData

*.html

DensityEstimation/DensityEstimation.pdf

Lecture16/BayesianNonparametrics.pdf

Lecture17/BayesianNonparametricsPart2.pdf

Lecture17/.Rhistory

Lecture18/ANOVA.pdf

Lecture19/Life.pdf

Lecture19/.Rhistory

Lecture20/LifePart2.pdf

Lecture20/MidtermProposals.pdf

Lecture21/RankedSetSampling.pdf

Lecture22/Wavelets.pdf

Lecture23/GraphLimits.pdf

Lecture20/.Rhistory

Lecture24/Visualization.pdf

Lecture25/MultivariateRankTests.pdf

Lecture25/MultivariateTests.pdf

Lecture25/.Rhistory

Lecture26/ABC.pdf

Lecture26/BootstrapManifold.pdf

Lecture27/ABC.pdf

Lecture26/Pivoting.pdf

Lecture27/BiasCorrection.pdf

Lecture26/.Rhistory

Lecture27/.Rhistory

Lecture28/Review.pdf
