
*.log

*.aux

*.nav

*.out

*.snm

Lecture1/Slides.synctex.gz

*.toc

Lecture1/Slides.pdf

Lecture1/Slides.pdf

Lecture1/Slides.md

Lecture1/Slides.md

Lecture1/Figs/

Lecture1/.Rhistory

Lecture2/Slides.pdf

Lecture2/Slides.synctex.gz

Lecture3/Slides.synctex.gz

Lecture3/Slides.pdf

Lecture4/Slides.synctex.gz

Lecture4/Slides.pdf

Lecture2/Slides-mpgraph.mp

Lecture2/Slides.top

Lecture2/Slides.tui

Lecture2/.Rhistory

Lecture2/enumData.Rdata

*.gz

Lecture5/Slides.pdf

Lecture6/Slides.pdf

Lecture3/ABIDE_LEGEND_V1.02.pdf

Lecture3/brainMatrix.Rdata

Lecture3/CC200_ROI_labels.csv

Lecture3/Phenotypic_V1_0b_preprocessed1.csv

Lecture7/Slides.pdf

Lecture3/log-permutations.txt

Lecture3/.Rhistory

LectureR/R.pdf

LectureR/RBasics.pdf

Lecture1/LogisticsIntroduction.pdf

Lecture3/maxCluster.seed1234.Rdata

maxCluster.seed1234.Rdata

Lecture2/SimulationsEnumerations.pdf

SimulationsEnumerations/.Rhistory

SimulationsEnumerations/enumData.Rdata

TwoSampleProblems/.Rhistory

TwoSampleProblems/brainMatrix.Rdata

TwoSampleProblems/ABIDE_LEGEND_V1.02.pdf

TwoSampleProblems/CC200_ROI_labels.csv

TwoSampleProblems/log-permutations.txt

TwoSampleProblems/Phenotypic_V1_0b_preprocessed1.csv

PermutationTests/.Rhistory

PermutationTests/ABIDE_LEGEND_V1.02.pdf

PermutationTests/CC200_ROI_labels.csv

PermutationTests/brainMatrix.Rdata

PermutationTests/log-permutations.txt

PermutationTests/Phenotypic_V1_0b_preprocessed1.csv

Lecture2/BasicStatistics.pdf

Lecture4/enumData.Rdata

*.html

Lecture5/enumData.Rdata

Lecture11/ABIDE_LEGEND_V1.02.pdf

Lecture11/brainMatrix.Rdata

Lecture11/CC200_ROI_labels.csv

Lecture11/log-permutations.txt

Lecture11/Phenotypic_V1_0b_preprocessed1.csv

Lecture13/NonlinearRegression.pdf

Lecture14/NonlinearRegression.pdf
